= simple_form_for @essential,  html: { multipart: true } do |f|
	- if @essential.errors.any?
		#errors
			%p
				= @essential.errors.count
				Prevented this essential from saving
			%ul
				- @essential.errors.full_message.each do |msg|
					%li = msg
	.panel-body
		= f.input :band_name, input_html: { class: 'form-control'}
		= f.input :bio, input_html: { class: 'form-control'}
		= f.input :image, input_html: { class: 'form-control'}
		= f.select :country, options_for_select(["United States","England","Norway", "Sweden", "France", "Germany", "Canada", "Finland", "Spain", "Italy", "Greece", "Demark"]), {}, class: "form-control"
		= f.input :album, collection: 1..25, class: "form-control"

		.row
			.col-md-6
				%h3 Favorites
				#favorites
					= f.simple_fields_for :favorites do |favorite|
						= render 'favorite_fields', f: favorite
					.links
					= link_to_add_association 'Add Favorite', f, :favorites, class: 'btn btn-secondary add-button'

			.col-md-6
				%h3 Catalog
				#catalogs
					= f.simple_fields_for :catalogs do |catalog|
						= render 'catalog_fields', :catalog
					.links
					= link_to_add_association 'Add Catalog', f, :catalogs, class: 'btn btn-secondary add-button'

	= f.button :submit, class: 'btn btn-primary'